<%= form_with(model: villain, local: true) do |form| %>
    <% if villain.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(villain.errors.count, "error") %> prohibited this villain from being saved:</h2>
  
        <ul>
        <% villain.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :movie %>
      <%= form.number_field :movie %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>